<header>
  <div class="header-logo">
    日程調整サイト
  </div>
  <ul class="header-menus">
    <li></li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>カレンダーを使った簡単日程調整！</h2>
    <p>頑張って作ります！</p>
  </div>
</div>