<%= javascript_pack_tag 'custom/html_click' %>

<header>
  <div class="header-logo">
    日程調整サイト
  </div>
  <ul class="header-menus">
    <li></li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>カレンダーを使った簡単日程調整！</h2>
    <p>頑張って作ります！</p>
  </div>
  
  
  
  <div>
    <table class="calendar" border="0" cellpadding="2" cellspacing="1" bgcolor="#333333" width="" >
      <tr align="center" bgcolor="#FFFFFF">
      <td colspan="7">2021年6月</td>
      </tr>
      <tr align="center" bgcolor="#CCCCCC">
      <td bgcolor="#FF6666">日</td>
      <td>月</td>
      <td>火</td>
      <td>水</td>
      <td>木</td>
      <td>金</td>
      <td bgcolor="#FF6666">土</td>
      </tr>
      <tr align="center" bgcolor="#FFFFFF">
      <td></td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      </tr>
      <tr align="center" bgcolor="#FFFFFF">
      <td>6</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11<br>あ,こ,お</td>
      <td>12</td>
      </tr>
      <tr align="center" bgcolor="#FFFFFF">
      <td>13</td>
      <td>14</td>
      <td>15</td>
      <td>16</td>
      <td>17</td>
      <td>18</td>
      <td>19</td>
      </tr>
      <tr align="center" bgcolor="#FFFFFF">
      <td>20</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td>
      <td>25</td>
      <td>26</td>
      </tr>
      <tr align="center" bgcolor="#FFFFFF">
      <td>27</td>
      <td>28</td>
      <td>29</td>
      <td>30</td>
      <td></td>
      <td></td>
      <td></td>
      </tr>
    </table>

  </div>
  
  
</div>

